@use "../abstracts/" as *;

.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
    justify-content: space-between;
    align-items: center;
    @include mq(medium) {
        &::after {
            content: "";
            display: block;
            position: relative;
            height: 1px;
            background: scale-color($light, $alpha: -70%);
            width: 50%;
            margin-right: -2.5rem;
            order: 1;
        }
        nav {
            order: 2;
        }
    }
}

.primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --underline-gap: 2rem;
    background: scale-color($dark, $alpha: -10%);
    list-style: none;
    padding: 0;
    margin: 0;

    a {
        text-decoration: none;
        span {
            font-weight: 700;
            margin-right: 0.5em;
        }
    }

    &[data-visible="true"] {
        transform: translateX(0);
    }

    @supports (backdrop-filter: blur(1.5rem)) {
        background: scale-color($white, $alpha: -95%);
        backdrop-filter: blur(1.5rem);
    }

    @media (max-width: 35rem) {
        --underline-gap: 0.5rem;
        padding: min(20rem, 15vh) 2rem;
        flex-direction: column;
        position: fixed;
        inset: 0 0 0 30%;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }

    @include mq(small) {
        padding-inline: clamp(3rem, 5vw, 7rem);
    }

    @media (min-width: 35em) and (max-width: 44.999em) {
        span {
            display: none;
        }
    }

    @include mq(medium) {
        margin-block: 2rem;
    }
}

.underline-indicators > * {
    border: 0;
    border-bottom: 0.2rem solid scale-color($white, $alpha: -100%);
    cursor: pointer;
    padding: var(--underline-gap, 1rem) 0;

    &.active {
        border-color: $white;
        @media (max-width: 35rem) {
            border-color: transparent;
        }
    }

    &:hover,
    &:focus {
        border-color: scale-color($white, $alpha: -50%);
    }
}

.tab-list {
    --gap: 2rem;
    a {
        text-decoration: none;
    }

    & [aria-selected="true"] {
        border-color: $white;
        color: $white;
    }
}

.dot-indicators > * {
    border: 0;
    border-radius: 50%;
    background-color: scale-color($white, $alpha: -75%);
    cursor: pointer;
    aspect-ratio: 1;
    padding: 0.5em;

    &[aria-selected="true"] {
        background-color: $white;
    }

    &:hover,
    &:focus {
        background-color: scale-color($white, $alpha: -50%);
    }
}

.number-indicators > * {
    background-color: $dark;
    border-radius: 50%;
    border: 1px solid scale-color($white, $alpha: -75%);
    color: $white;
    cursor: pointer;

    display: grid;
    place-items: center;
    width: 5rem;
    height: 5rem;

    &[aria-selected="true"] {
        background-color: $white;
        color: $dark;
    }

    &:hover,
    &:focus {
        border-color: $white;
    }
}

.mobile-nav-toggle {
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    background-color: transparent;
    border: 0;
    background-image: url(../../assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;

    &[aria-expanded="true"] {
        background-image: url(../../assets/shared/icon-close.svg);
    }

    @include mq(small) {
        display: none;
    }

    &:focus-visible {
        outline: 5px solid $light;
        outline-offset: 5px;
    }
}
