@use "../abstracts/" as *;

.bg-dark {
    background-color: $dark;
}
.bg-accent {
    background-color: $light;
}
.bg-white {
    background-color: $white;
}

.bg-example {
    background-color: scale-color($light, $alpha: -80%);
}

.text-dark {
    color: $dark;
}
.text-accent {
    color: $light;
}
.text-white {
    color: $white;
}
