@use "../abstracts/" as *;

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.d-block {
    display: block;
}

.btn--container {
    @include mq(small) {
        margin-left: 8em;
        margin-bottom: -em;
    }
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}
.grid-container p:not([class]) {
    max-width: 50ch;
}

.grid-container {
    display: grid;
    text-align: center;
    place-items: center;
    padding-inline: clamp(1rem, 10vw, 8rem);
    padding-bottom: 4rem;

    @include mq(small) {
        grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
                2rem,
                1fr
            );
        gap: var(--container-gap, 2rem);
        text-align: left;

        &--home > *:first-child {
            grid-column: 2;
        }
        &--home > *:last-child {
            grid-column: 3;
        }

        &.grid-container--home {
            padding-bottom: max(6rem, 20vh);
            align-items: end;
        }

        &.grid-container--destinations {
            align-items: start;
        }
        &.grid-container--crew {
            align-items: start;
        }
    }
}

.grid-container--destinations {
    --flow-space: 2rem;
    grid-template-areas:
        "title"
        "image"
        "tabs"
        "content";

    .numbered-title {
        grid-area: title;
    }

    img {
        grid-area: image;
        max-width: 60%;
    }

    .tab-list {
        grid-area: tabs;
    }

    .destination-info {
        grid-area: content;

        p {
            max-width: 60ch;
        }

        .destination-meta {
            flex-direction: column;
            border-top: 1px solid scale-color($white, $alpha: -90%);
            padding-top: 2.5rem;
            margin-top: 2.5rem;

            p {
                font-size: 1.75rem;
            }

            .details {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            @include mq(small) {
                flex-direction: row;
                justify-content: space-evenly;
                gap: 2rem;
            }
        }
    }

    @include mq(small) {
        .numbered-title,
        img,
        .tab-list,
        .destination-info {
            grid-column: 1 / 5;
        }

        .numbered-title {
            justify-self: start;
            margin-top: 2rem;
        }

        .destination-info {
            text-align: center;
        }
    }

    @include mq(medium) {
        justify-items: start;
        align-content: start;

        .numbered-title {
            grid-column: 1 / 5;
        }

        img {
            grid-column: 1/ 3;
            justify-self: center;
            max-width: 90%;
        }

        .tab-list {
            grid-column: 3 / 5;
            grid-row: 1;
        }

        .destination-info {
            grid-column: 3 / 5;
            grid-row: 2;
            text-align: left;

            .destination-meta {
                --gap: min(6vw, 6rem);
                justify-content: start;

                .details {
                    align-items: start;
                }
            }
        }
    }
}

.grid-container--crew {
    height: 100%;
    --flow-space: 0rem;

    grid-template-areas:
        "title"
        "image"
        "tabs"
        "content";

    .numbered-title {
        grid-area: title;
    }

    .dot-indicators {
        grid-area: tabs;
    }

    img {
        grid-area: image;
        max-width: 70%;

        border-bottom: 1px solid scale-color($white, $alpha: -90%);
    }

    .crew-details {
        grid-area: content;
        height: 100%;
    }

    @include mq(small) {
        grid-template-areas:
            "title"
            "content"
            "tabs"
            "image";

        .numbered-title,
        img,
        .dot-indicators,
        .crew-details {
            grid-column: 1 / 5;
        }

        .numbered-title {
            justify-self: start;
            margin-top: 2rem;
        }

        .crew-details {
            text-align: center;
        }
    }

    @include mq(medium) {
        padding-bottom: 0;
        .numbered-title {
            grid-column: 1 / 5;
        }

        img {
            grid-column: 3/ 5;
            grid-row: 1 / 5;
            align-self: end;
            max-width: 90%;
        }

        .dot-indicators {
            grid-column: 1 / 3;
            grid-row: 4;
            justify-self: start;
        }

        .crew-details {
            grid-column: 1 / 3;
            grid-row: 2/3;
            text-align: left;
            justify-self: start;
        }

        // .crew-details {
        //     grid-column: 3 / 5;
        //     grid-row: 2;
        //     text-align: left;

        //     .destination-meta {
        //         --gap: min(6vw, 6rem);
        //         justify-content: start;

        //         .details {
        //             align-items: start;
        //         }
        //     }
        // }
    }
}
