$type-scale: (
    small: (
        200: 0.8rem,
        300: 1rem,
        400: 1.25rem,
        500: 1.563rem,
        600: 1.953rem,
        700: 2.441rem,
        800: 3.052rem,
        900: 3.815rem,
    ),
    big: (
        200: 0.875rem,
        300: 1rem,
        400: 1.125rem,
        500: 1.75rem,
        600: 2rem,
        700: 3.5rem,
        800: 6.25rem,
        900: 9.375rem,
    ),
);

$ff-serif: "Bellefair", serif;
$ff-sans-cond: "Barlow Condensed", sans-serif;
$ff-sans-normal: "Barlow", sans-serif;
